.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}
  
.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    min-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
}

.modal-header {
    background-color: #f3f4f6;
    padding: 1rem;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.modal-footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

/* Submit Button */
.button-submit {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
}
  
.button-submit:hover {
    transform: translateY(-3px);
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(10, 124, 10);
}
  
.button-submit:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
  
.button-submit::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
  
.button-submit::after {
    background-color: #fff;
}
  
.button-submit:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* Close Button */
.button-close {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
}
  
.button-close:hover {
    transform: translateY(-3px);
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(196, 39, 39);
}
  
.button-close:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
  
.button-close::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
  
.button-close::after {
    background-color: #fff;
}
  
.button-close:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button-submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
}

.button-submit:disabled:hover {
    background-color: #ccc;
    color: black;
    box-shadow: none;
    transform: none;
}